.container {
    display: table;
    width: 100%;
    height: 100%;
}

.container-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container {
    width: 50%; /* 通常幅 */
}

@media screen and (orientation: portrait), (max-width: 800px) {
    /* 縦長表示 or 横幅800px以内 */
    .container {
        width: 100%;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    /* 横幅1024px以内 */
    .container {
        width: 90%;
    }
}

@media screen and (orientation: landscape) {
    /* 横長表示 */
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .contents-1 {
        display: inline-block;
        width: 48%;
    }

    .contents-2 {
        display: inline-block;
        width: 48%;
    }

    .container-body {
        font-size: 0;
    }

    .contents-1, .contents-2 {
        font-size: medium;
        vertical-align: bottom;
    }
}

.img-me {
    width: 200px;
    height: 200px;
    border: 2px solid #BBB;
    border-radius: 50%;
    box-shadow: 2px 2px 3px 1px #CCC;
    margin: 2em auto;
}


.img-me img {
    border-radius: 50%;
    width: 100%;
}

.name-area p {
    padding: 0;
    margin: 0;
}

.name-area p.name {
    font-size: x-large;
}

@media screen and (orientation: portrait) {
    .name-area p.name-roman {
        margin-bottom: 1em;
    }
}

.name-area p.name-roman {
    font-size: small;
}


.skills {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.skills ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills ul.mb1em {
    margin-bottom: 1em;
}

.socials {
}

.socials ul {
    display: table;
    table-layout: fixed;
    padding: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation: landscape) {
    .socials ul {
        width: 75%;
    }
}

.socials li {
    display: table-cell;
    vertical-align: middle;
    font-size: xx-large;
}

.skills .title:before {
    content: "★";
}

.skills .subtitle {
    font-size: small;
    padding-bottom: 1em;
}

.skills .lists li {
    padding-top: 0.25em;
}
