@font-face {
    font-family: 'M+ 2p regular';
    src: url('../fonts/mplus-2p-regular-sub.eot');
    src: url('../fonts/mplus-2p-regular-sub.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mplus-2p-regular-sub.woff') format('woff'),
    url('../fonts/mplus-2p-regular-sub.ttf') format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "M+ 2p regular", -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ ProN", "Noto Sans Japanese", "Helvetica Neue", Meiryo, sans-serif;
  color: #0D0D0D;
  background-color: #F2EDE4;
}

a {
  color: #BF6E3F;

  &:hover {
    color: #A63117;
  }

  &:visited {
    color: #BF6E3F;
  }
}

.pm0 {
  padding: 0;
  margin: 0;
}

.pd1 {
  padding: 1em 0;
}

header {
  width: 100%;
  height: 3em;

  .links {
    height: 100%;
    width: 25%;

    .links-body {
      height: 100%;
      display: table;
      text-align: center;

      ul {
        display: flex;
        list-style: none;
        width: 20%;
        //display: table-cell;
        //vertical-align: middle;

        font-size: x-large;
        text-decoration: none;
        color: #000;

        li {
          padding: 3em;
        }
        //&:before {
        //  width: 50%;
        //}
        //
        //&:hover {
        //  border-bottom: 3px solid #000;
        //  padding-top: 3px;
        //}
      }
    }
  }
}

.container {
    display: table;
    max-width: 960px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}

.container-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .card {
        border-radius: 10px;
        -moz-box-shadow: 0px 0px 20px -3px rgba(166, 49, 23, 0.5);
        -webkit-box-shadow: 0px 0px 20px -3px rgba(166, 49, 23, 0.5);
        -ms-box-shadow: 0px 0px 20px -3px rgba(166, 49, 23, 0.5);
        box-shadow: 0px 0px 20px -3px rgba(166, 49, 23, 0.5);
    }

    .contents {
        font-size: medium;
    }

    hr {
        width: 70%;
        border-top: 2px dashed rgba(166, 49, 23, 0.25);
    }
}

@media screen and (orientation: portrait) {
    .container {
        max-width: 480px;
    }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
    /* 縦長表示 or 横幅800px以内 */
    .container {
        max-width: 480px;
    }
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    /* 縦長表示 or 横幅800px以内 */
    .container {
        width: 100%;
    }

    .card {
        width: 100%;
        margin: auto;
        box-shadow: none !important;
    }
}

@media screen and (orientation: landscape) {
    /* 横長表示 */
    .contents-1 {
        display: inline-block;
        width: 48%;
    }

    .contents-2 {
        display: inline-block;
        width: 48%;
    }

    .container-body {
        font-size: 0;
    }

    .contents-1, .contents-2 {
        vertical-align: middle;
    }
}

@import "index.scss";
@import "contact.scss";

