.contents {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.contents .sidebar {
    min-width: 20%;
    text-align: center;
}

.contents .sidebar .sidebar-contents {
    position: sticky;
    bottom: 0;
    top: 50%;
    z-index: 1;
}

.contents .diary {
    flex: 1;
    height: 100%;
    display: table;
}

.contents .diary .list {
    margin-bottom: 1.5em;
}

.contents .diary .article {
    display: table-cell;
    vertical-align: middle;
}


@media screen and (orientation: portrait), (max-width: 750px) {
    /* 縦長表示 or 横幅800px以内 */
    .contents {
        display: block;
        width: 100%;
        height: 100%;
    }

    .contents .sidebar {
        display: none;
    }

    .contents .diary {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .contents .article {
        text-align: left;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: larger;
}

h3 {
    font-weight: normal;
}

h5 {
    font-weight: lighter;
    font-size: small;
}

h2.title {
    margin-bottom: 2em;
}