#view-diary {
  .contents {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .sidebar {
      min-width: 20%;
      text-align: center;

      .sidebar-contents {
        position: sticky;
        bottom: 0;
        top: 50%;
        z-index: 1;
      }
    }

    .diary {
      flex: 1;
      margin-left: 1%;
      margin-right: 10%;
      height: 100%;
      display: table;

      .list {
        margin-bottom: 1.5em;
      }

      .article {
        display: table-cell;
        vertical-align: middle;

        ul {
          list-style: square;
          padding-left: 2em;
        }

        p {
          margin-bottom: 0.5em;
        }

        p:last-child {
          margin-bottom: 0;
        }

        .section {
          margin: 1em 0;

          h4:before {
            content: "▶️";
            padding-right: 0.25em;
          }
        }

        blockquote {
          position: relative;
          margin: 1em;
          padding: 1em 1em 1em 0.5em;
          background-color: #FFF;
          /*border-radius: 1em;*/
          border-left: 0.5em solid #9dd4ff;
          box-shadow: 0.25em 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
          quotes: "\201C" "\201D" "\2018" "\2019";

          &:before {
            display: inline-block;
            position: absolute;
            content: open-quote;
            color: #000;
            font-size: 2em;
            line-height: 1;

            p {
              margin-left: 1.75em;

              &:last-child {
                margin-top: 1em;
                text-align: right;
                font-size: small;
              }
            }
          }

          iframe {
            margin: 1em;
            box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
            border: 0;
            width: 640px;
            height: 360px;
          }
        }
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }

      h1 {
        font-weight: bold;
        font-size: x-large;

        .title {
          margin-bottom: 1em;
        }
      }

      h2 {
        font-weight: bold;
        font-size: larger;
      }

      h3 {
        font-weight: normal;
      }

      h4 {

      }

      h5 {
        font-weight: lighter;
        font-size: small;
      }
    }
  }

  @media screen and (orientation: portrait), (max-width: 750px) {
    /* 縦長表示 or 横幅800px以内 */
    .contents {
      display: block;
      width: 100%;
      height: 100%;

      .sidebar {
        display: none;
      }

      .diary {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      .article {
        text-align: left;
      }
    }
  }
}